<!DOCTYPE html>
<html>
<head>
  <title>Crud jobs</title>
  <%= stylesheet_link_tag    "crud_jobs/application", media: "all" %>
  <%= javascript_include_tag "crud_jobs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
